static_data_ground_truth_uv_001_RBF_N_5_CG2_test5
static_data_ground_truth_uv_001_RBF_N_1000_CG2
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_0
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_1
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_1_test5
L_shape_ground_truth
FE_NO_elasto_dynamic_L_shape_90_169
full_square_with_L_shape_all_dataset_N100_89_169_CG2_all_ts_together_test5
full_square_with_L_shape_all_dataset_N100_89_169_CG2_all_ts_together
dataload_from_full_square_disk_dataset_89_169_epsilon_CG2_dense
redo_figures