static_data_ground_truth_uv_001_RBF_N_5_CG2_test5
static_data_ground_truth_uv_001_RBF_N_1000_CG2
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_0
prepare_DeepONet_hyper_elastic_200w_uv_bcs_strain_one_traction_N_800_batch_100_uv_top_resort_real_sigma_test5
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_1
FE_full_square_hyper_all_dataset_N_200_one_tractions_square_CG2_dense_u_v_top_resort_real_sigma_1_test5
L_shape_ground_truth
FE_NO_elasto_dynamic_L_shape_90_169